@model DataEntry.Storage.Documents.HadoopMetaDataModels

@{
    ViewBag.Title = "Details";
}

<h2>Details For: @Html.DisplayFor(model => model.ExtractName) </h2>

<div>
    <hr style="height:1px; border:none; color:#333; background-color:#333;" />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.ExtractName)</dt>
        <dd>@Html.DisplayFor(model => model.ExtractName)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.Raw(Model.DescriptionHtml)</dd>

        <dt>@Html.DisplayNameFor(model => model.Requestor)</dt>
        <dd>@Html.DisplayFor(model => model.Requestor)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.RequestorEmail)</dt>
        <dd>@Html.DisplayFor(model => model.RequestorEmail)</dd>

        <dt>@Html.DisplayNameFor(model => model.Request)</dt>
        <dd>@Html.DisplayFor(model => model.Request)</dd>

        <dt>@Html.DisplayNameFor(model => model.DataExtractDetails)</dt>
        <dd>@Html.DisplayFor(model => model.DataExtractDetails)</dd>

        <dt>Cluster Location</dt>
        @foreach (var location in Model.ClusterStorageLocation)
        {
            <dd>@Html.DisplayFor(x => location)</dd>
        }
        <dt>Cluster Path</dt>
        <dd>@Html.DisplayFor(model => model.ClusterStoragePath)</dd>
              
        <dt>@Html.DisplayNameFor(model => model.StartDate)</dt>
        <dd>@Html.DisplayFor(model => model.StartDate)</dd>

    </dl>
    <hr style="height:1px; border:none; color:#333; background-color:#333;" />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
