@model IEnumerable<DataEntryWebForm.Models.HadoopMetaDataModels>

@{
    ViewBag.Title = "All of the data";
}


<div class="container-fluid">
    <!-- Page Header -->
    <div class="page-header page-header-block">
        <div class="page-header-section">
            <h2 class="title semibold">@ViewBag.Title</h2>
        </div>
    </div>

    <p>
        @Html.ActionLink("Create New", "Create") |
        @Html.ActionLink("Search Meta-Data", "Search")
    </p>
    <!-- START row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Hadoop meta-data</h3>
                </div>
                <table id="myDataTable" class="table">
                    <thead>
                        <tr>
                            <th> @Html.DisplayNameFor(model => model.Id)</th>
                            <th> @Html.DisplayNameFor(model => model.ExtractName)</th>
                            <th> @Html.DisplayNameFor(model => model.Description)</th>
                            <th> @Html.DisplayNameFor(model => model.Requestor)</th>
                            <th> @Html.DisplayNameFor(model => model.RequestorEmail)</th>
                            <th> @Html.DisplayNameFor(model => model.DataSources)</th>
                            <th> @Html.DisplayNameFor(model => model.DataExtractDetails) </th>
                            <th> @Html.DisplayNameFor(model => model.ClusterStorageLocation) </th>
                            <th> @Html.DisplayNameFor(model => model.ClusterStoragePath)</th>
                            <th> @Html.DisplayNameFor(model => model.StartDate) </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.Id)</td>
                                <td> @Html.DisplayFor(modelItem => item.ExtractName)</td>
                                <td> @Html.DisplayFor(modelItem => item.Description) </td>
                                <td> @Html.DisplayFor(modelItem => item.Requestor)</td>
                                <td> @Html.DisplayFor(modelItem => item.RequestorEmail)</td>
                                <td> @Html.DisplayFor(modelItem => item.DataSources)</td>
                                <td> @Html.DisplayFor(modelItem => item.DataExtractDetails) </td>
                                <td> @Html.DisplayFor(modelItem => item.ClusterStorageLocation)</td>
                                <td> @Html.DisplayFor(modelItem => item.ClusterStoragePath)</td>
                                <td> @Html.DisplayFor(modelItem => item.StartDate)   </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/ END row -->
</div>

    @section scripts{
        <script src="~/Scripts/jquery-2.1.4.min.js" type="text/javascript"></script>
        <script src="~/Scripts/DataTables/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="~/scripts/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $('#myDataTable').dataTable();
        </script>
    }
